<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Application</title>    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <h1>Stroke Prediction</h1>

    <form action="/" method='POST'>
        
        <label for="Gender">Gender:</label>
        <select id="Gender" name="Gender">
            <option value=1>Male</option>
            <option value=0>Female</option>
        </select>
        
        <input type="number" name="Age" placeholder="Enter your age">

        <label for="Hypertension">Hypertension:</label>
        <select id="Hypertension" name="Hypertension">
            <option value=0>I do not have hypertension</option>
            <option value=1>I have hypertension</option>
        </select>
        
        <label for="HeartDisease">Hypertension:</label>
        <select id="HeartDisease" name="HeartDisease">
            <option value=0>I do not have any heart heart diseases</option>
            <option value=1>I have a heart disease</option>
        </select>

        <label for="Marriage">Married:</label>
        <select id="Marriage" name="Marriage">
            <option value=0>No</option>
            <option value=1>Yes</option>
        </select>

        <label for="WorkType">Work Type:</label>
        <select id="WorkType" name="WorkType">
            <option value=3>Take care of children</option>
            <option value=2>Government job</option>
            <option value=4>Never worked</option>
            <option value=1>Private</option>
            <option value=0>Self-employed</option>
        </select>

        <label for="Residence">Residence Type:</label>
        <select id="Residence" name="Residence">
            <option value=0>Rural</option>
            <option value=1>Urban</option>
        </select>

        <input type="number" name="GlucoseLevel" placeholder="Average Glucose Level in Blood">

        <input type="number" name="BMI" placeholder="BMI">

        <label for="Smoking">Smoking Status:</label>
        <select id="Smoking" name="Smoking">
            <option value=2>Formerly Smoked</option>
            <option value=0>Never Smoked</option>
            <option value=1>Smokes</option>
            <option value=3>Unknown</option>
        </select>

        <input type="submit">
    
    </form>

    {% if my_stroke %}
        <div>{{ my_stroke }}</div>
    {% endif %}    

</body>
</html>